body {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    /* min-width: auto; */
}
#header-container {
    flex-grow: 1;
    display: flex;
    flex-direction: column;
}
#header {
    box-sizing: border-box;
    padding: 10px 10px 0 10px;
    /* border-bottom: solid;
    border-bottom-width: 3px; */
    background-color: #ccc;
}

#container {
    align-items: center;
    text-align: left;
    padding-left: 10%;
    padding-right: 10%;
    padding-top: 20px;
}

#footer {
    /* flex-grow: auto; */
    position: relative;
    bottom: 0;
    left: 0;
    width: 100%;
    background-color: #ccc;
    padding: 10px;
    font-size: 15px;
    text-align: center;
    /* padding-top: 10%; */
    margin-top: 10%;

}

.noSelect {
    user-select: none;
}

h1 {
    white-space: pre-wrap;
    user-select: none;
}

label {
    display: block;
    margin-bottom: 12px;
}

#correct-answer {
    color: red;
}


#div-btn {
    display: flex;
    /* float: left; */
    flex-direction: row;
    justify-content: center;
    text-align: center;
    margin-top: 80px;
    
}

.question {
    text-align: left;
    padding-bottom: 20px;
}

#label-A {
    margin-top: 20px;
}

.options-size {
    font-size: 28px;
}

.btn-size {
    width: 200px;
    line-height: auto;
    text-align: center;
}