#container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: absolute;
    gap: 20px;
    height: 80%;
    width: 100%;
}

#header {
    box-sizing: border-box;
    padding: 10px 10px 0 10px;
    border-bottom: solid;
    border-bottom-width: 3px;
}